.Todo-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 75rem;
  min-height: 50rem;
  margin: 10px;
  border: 5px solid black;
  background-color: brown;
}

.apphead {
  text-align: center;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: large;
  background-color: #34df9d;
  padding: 10px;
  box-shadow: 0.2rem 0.2rem black;
}

.todo-form {
  display: flex;
  font-size: 2rem;
  margin-top: 5rem;
  width: 100%;
  gap: 5rem;
}

.todo-form input {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.todo-form button {
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.task-div {
  background-color: rgb(0, 255, 55);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 50%;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.todo-text {
  font-size: 2.5rem;
}

.icons {
  font-size: 2.5rem;
  display: flex;
  gap: 3rem;
}

.complete {
  text-decoration: line-through;
}
